.anime-card {
  width: 250px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.anime-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.anime-info {
  padding: 15px;
}

.anime-info h4 {
  margin-bottom: 10px;
  font-size: 18px;
  max-height: 100%;
}

.anime-info p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}

.anime-info button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.anime-info button:hover {
  background-color: #0056b3;
}
