.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: antiquewhite;
  position: sticky;
  top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}
