.form-container {
  background: rgb(214, 205, 205);
  padding: 10px;
}

.form-control {
  padding: 10px;
  display: flex;
}

.form-container button {
  padding: 10px;
  margin-top: 5px;
  background-color: aliceblue;
}
